body {
	background-color: rgba(3, 44, 44, 44);	
}

div {
	width: 800px;
	height: 800px;
    -webkit-transform: translate(-50%,-50%); /** Chrome & Safari **/
       -moz-transform: translate(-50%,-50%); /** Firefox **/
         -o-transform: translate(-50%,-50%); /** Opera **/
    		transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	position: absolute;
	visibility: hidden;
}

#container {
	width: 1600px;
	height: 1600px;
	/*background-color: black;*/
    -webkit-transform: translate(-50%,-50%); /** Chrome & Safari **/
       -moz-transform: translate(-50%,-50%); /** Firefox **/
         -o-transform: translate(-50%,-50%); /** Opera **/
    		transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	position: absolute;
	visibility: visible;
}


#bio {
	/*background-color: red;*/
	background-color: green;
	visibility: visible;
}

#skills {
	/*top: -25%;*/
	background-color: green;
	/*background-color: white;*/
}

#projects {
	/*background-color: yellow;*/
	background-color: green;
}

#contact {
	/*background-color: blue;*/
	background-color: green;
}

.move-out-right{
    -webkit-transform: translate(100%,-50%); /** Chrome & Safari **/
       -moz-transform: translate(100%,-50%); /** Firefox **/
         -o-transform: translate(100%,-50%); /** Opera **/
    		transform: translate(100%,-50%);
         	transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
}

.move-out-left{
    -webkit-transform: translate(-200%,-50%); /** Chrome & Safari **/
       -moz-transform: translate(-200%,-50%); /** Firefox **/
         -o-transform: translate(-200%,-50%); /** Opera **/
    		transform: translate(-200%,-50%);
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
}

.move-out-down{
    -webkit-transform: translate(-50%,100%); /** Chrome & Safari **/
       -moz-transform: translate(-50%,100%); /** Firefox **/
         -o-transform: translate(-50%,100%); /** Opera **/
    		transform: translate(-50%,100%);
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
         	transition: all 1s ease-in-out;
}

.move-out-up{
    -webkit-transform: translate(-50%,-200%); /** Chrome & Safari **/
       -moz-transform: translate(-50%,-200%); /** Firefox **/
         -o-transform: translate(-50%,-200%); /** Opera **/
    		transform: translate(-50%,-200%);
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
         	transition: all 1s ease-in-out;
}

li{
	list-style-type: none;
	display: inline;	
}

.skills-main-list{
	display: inline;	
}

img{
	height: 80px;	
	width: 80px;	
	padding-left: 10px;
	/*background: yellow;*/
}

