body {
	background-color: rgba(3, 44, 44, 44);	
}

div {
	width: 200px;
	height: 200px;
	/*margin-top: -100px;*/
	/*margin-right: 0;*/
	/*margin-bottom: 0;*/
	/*margin-left: -100px;*/
    -webkit-transform: translate(-50%,-50%); /** Chrome & Safari **/
       -moz-transform: translate(-50%,-50%); /** Firefox **/
         -o-transform: translate(-50%,-50%); /** Opera **/
    		transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	position: absolute;
	visibility: hidden;
}

#container {
	width: 400px;
	height: 400px;
	background-color: black;
	/*margin-top: -200px;*/
	/*margin-right: 0;*/
	/*margin-bottom: 0;*/
	/*margin-left: -200px;*/
    -webkit-transform: translate(-50%,-50%); /** Chrome & Safari **/
       -moz-transform: translate(-50%,-50%); /** Firefox **/
         -o-transform: translate(-50%,-50%); /** Opera **/
    		transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	position: absolute;
	visibility: visible;
}


#bio {
	background-color: red;
	visibility: visible;
}

#skills {
	background-color: green;
}

#projects {
	background-color: yellow;
}

#contact {
	background-color: blue;
}

.move-out-right{
    -webkit-transform: translate(150%,0); /** Chrome & Safari **/
       -moz-transform: translate(150%,0); /** Firefox **/
         -o-transform: translate(150%,0); /** Opera **/
    		transform: translate(150%,0);
         	transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
}

.move-out-left{
    -webkit-transform: translate(-150%,0); /** Chrome & Safari **/
       -moz-transform: translate(-150%,0); /** Firefox **/
         -o-transform: translate(-150%,0); /** Opera **/
    		transform: translate(-150%,0);
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
}

.move-out-down{
    -webkit-transform: translate(0,150%); /** Chrome & Safari **/
       -moz-transform: translate(0,150%); /** Firefox **/
         -o-transform: translate(0,150%); /** Opera **/
    		transform: translate(0,150%);
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
         	transition: all 1s ease-in-out;
}

.move-out-up{
    -webkit-transform: translate(0,-150%); /** Chrome & Safari **/
       -moz-transform: translate(0,-150%); /** Firefox **/
         -o-transform: translate(0,-150%); /** Opera **/
    		transform: translate(0,-150%);
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
         	transition: all 1s ease-in-out;
}

.move-in-down{
			top: -25%;
    -webkit-transform: translate(0,150%); /** Chrome & Safari **/
       -moz-transform: translate(0,150%); /** Firefox **/
         -o-transform: translate(0,150%); /** Opera **/
    		transform: translate(0,150%);

            /*transform: translate(0,600px);*/
    /*-webkit-transform: translate(0,600px); [>* Chrome & Safari *<]*/
       /*-moz-transform: translate(0,600px); [>* Firefox *<]*/
         /*-o-transform: translate(0,600px); [>* Opera *<]*/
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
       -moz-transition: all 1s ease-in-out; /** Firefox **/
         -o-transition: all 1s ease-in-out; /** Opera **/
         	transition: all 1s ease-in-out;

}

